#wrapper{
    width:80%;
    margin-right:auto;
    margin-left:auto;

    background-color:whitesmoke;


}

.gameButton{
    height:20px;
    width:20px;
    margin:3px;
}

#gameBoardWrapper {
width:20%;
margin-right: auto;
    margin-left: auto;
}

.gameButtonShip {
    height: 20px;
    width: 20px;
    margin: 3px;
    background-color:aqua;
}

#buttonWrapper {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.difficultyButton {
    height: 80px;
    width: 200px;
    margin: 5px;
}