#wrapper{
    width:80%;
    margin-right:auto;
    margin-left:auto;

    background-color:whitesmoke;


}

.gameButton {
    height: 20px;
    width: 20px;
    margin: 3px;
    /*background-color:#284032;*/
    background-color: lightblue;
    /*border-color:#284032;*/ /*for optical illusion*/
}

#gameBoardWrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /*align-content:center;*/
    /*background-image: url("https://68.media.tumblr.com/0499d65ee5abd002933fc504b41dbe7d/tumblr_opgkwq8rBY1w1cse8o1_250.gif");
    background-repeat: repeat-x repeat-y;*/
}

.gameButtonShip {
    height: 20px;
    width: 20px;
    margin: 3px;
    background-color: lightblue;
}

#buttonWrapper {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.difficultyButton {
    height: 80px;
    width: 200px;
    margin: 5px;
}

#saveButton {
    background-color: #222;
    color: #9d9d9d;
    border-color:#080808;
    margin-top: 14px;
    border-width: 0px;
    font-size:14px;
}

#saveButton:hover{
    color:#fff;
    

}

.gameButtonShip:disabled {
    background-image: url("http://pre15.deviantart.net/0646/th/pre/f/2008/189/4/c/fire_pattern_two_by_empty_phantom_stock.jpg");
    background-size: /*50px 50px*/ 100% 100%;
    background-repeat: no-repeat;
}

.gameButtonShip:enabled {
    height: 20px;
    width: 20px;
    margin: 3px;
    background-color: lightblue;
}